.finish__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.pokemonCard {
    width: 250px;
    height: 350px;
    cursor: pointer;
  }

.buttonBlock {
    height: 150px;
    display: flex;
    align-items: center;
}

.button,
.button:visited {
    width: 300px;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid #fafafa;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all ease-in-out .25s;
    cursor: pointer;
    box-sizing: border-box;
}

.button,
.button:visited {
    background: #f300b4;
    border: 1px solid transparent;
    color: #fafafa;
    font-weight: bold;
    outline: none;
}

.button:hover {
    background: transparent;
    border: 1px solid #f300b4;
    color: #f300b4;
    transition: all ease-in-out 0s;
    outline: none;
}

.button:active {
    background: transparent;
    border: 1px solid #f300b4;
    color: #f300b4;
    transition: all ease-in-out 0s;
    outline: none;
    padding: 1.05rem 1rem calc(.95rem - 1px) calc(1rem - 1px);
    border-top: 2px solid;
    border-right: 2px solid;
}

.button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.button:disabled:hover {
    background: #f300b4;
    border: 1px solid transparent;
    color: #fafafa;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}